* {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  text-decoration: none;
  font-family: "Work Sans" sans-serif;
  box-sizing: border-box;
}

h1 {
  padding-left: 10px;
  padding-top: 200px;
  text-align: start;
  font-size: 80px;
  font-weight: bold;
  color: rgb(28, 34, 148);
}

.full-curriculum {
  padding-left: 10px;
  margin: 10px;
  font-style: italic;
  font-size: 20px;
  text-align: start;
  background-color: rgb(28, 34, 148);
  border-radius: 5px;
  width: 15%;
  height: 40px;
}

.full-curriculum a {
  background-color: rgb(28, 34, 148);
  border-radius: 10px;
  color: #f4f4f4;
  width: 15%;
  height: 40px;
  text-align: center;
}

.coach {
  display: flex;
  font-style: italic;
  font-size: 20px;

}

.coach a {
  padding-left: 10px;
  margin: 10px;
  font-style: italic;
  font-size: 20px;
  text-align: start;
  background: rgb(28, 34, 148);
  border-radius: 5px;
  color: #f4f4f4;
  width: 15%;
  height: 40px;
  text-align: center;
}

.languages {
  display: grid;
  place-items: center;
  margin-left: 650px;
  height: 60vh;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  /* border: 5px solid red; */
}

.languages div {
  padding: 105px;
}